<div class="row">
    <div ng-repeat="pet in ctrl.pets" class="col-md-12">
        <div class="row">
            <div class="col-md-8 col-md-push-2">
                <div class="thumbnail">
                    <img ng-src="{{pet.photoUrls[0]}}" alt="pet.name">
                    <div class="caption">
                        <h3><i>{{pet.name}}</i></h3>
                        <p>ID : <b>{{pet.id}}</b></p>
                        <p>Status : <b>{{pet.status}}</b></p>
                        <p>Category : <b>{{pet.category.name}}</b></p>
                        <p>
                            Tags :
                            <span ng-repeat="tag in pet.tags" class="label label-success" style="margin-right: 5px;">{{tag.name}}</span>
                        </p>
                        <p><a href="#" class="btn btn-primary" role="button">Buy</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>