<div class="row">
    <div ng-repeat="pet in ctrl.pets" class="col-md-12">
        <div class="row">
            <div class="col-md-8 col-md-push-2">
                <div class="thumbnail">
                    <img ng-src="{{pet.photoUrls[0]}}" alt="pet.name" ng-click="ctrl.openPhotoModal(pet)">
                    <div class="caption">
                        <h3><i>{{pet.name}}</i></h3>
                        <p>ID : <b>{{pet.id}}</b></p>
                        <p>Status : <b>{{pet.status}}</b></p>
                        <p>Category : <b>{{pet.category.name}}</b></p>
                        <p>
                            Tags :
                            <span ng-repeat="tag in pet.tags" class="label label-success" style="margin-right: 5px;">{{tag.name}}</span>
                        </p>
                        <div style="text-align: right">
                            <a href="#" class="btn btn-primary" style="margin-right: 5px;" role="button" ng-click="ctrl.openBuyModal(pet.category.name)">Buy</a>
                            <a href="#" class="btn btn-primary" role="button" ng-if="loginCtrl.isManager" ng-click="ctrl.openConfirmationModal(pet)">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<div>
    <!-- modal for showing the delete action -->
    <script type="text/ng-template" id="confirmationModal.html">
        <div class="modal-header">
            <h3 class="modal-title" >Are you sure you want to remove {{ctrl.selectedPet.name}}!</h3>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ctrl.deletePet()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="ctrl.cancelConfirmationModal()">Cancel</button>
        </div>
    </script>

    <!-- modal for showing the buy action -->
    <script type="text/ng-template" id="buyModal.html">
        <div class="modal-header">
            <h3 class="modal-title" ng-if="ctrl.showBuyMsg">Of course you cannot buy a {{ctrl.buyCategory}}..What's wrong with you...</h3>
            <h3 class="modal-title" ng-if="!ctrl.showBuyMsg">Well...I've got nothing here...</h3>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="ctrl.cancelBuyModal()">Cancel</button>
        </div>
    </script>

    <!-- modal for showing the photo carousel -->
    <script type="text/ng-template" id="photoModal.html">
        <button class="btn btn-info" style="float: right;" type="button" ng-click="ctrl.cancelBuyModal()">Close</button>
        <div class="modal-header">
            <h3 class="modal-title" >{{ctrl.selectedPet.name}}</h3>
        </div>
        <div class="modal-body">
            <div>
                <div uib-carousel active="true" interval="3000" no-wrap="noWrapSlides">
                    <div uib-slide ng-repeat="photo in ctrl.selectedPet.photoUrls track by $index" index="$index">
                        <img ng-src="{{photo}}" style="margin:auto;" >
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>
</div>